@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1e1e2e;
	--background-light: #fdebf3;
	--button: #78c2ad;
	--text: #fdebf3;
	--text-light: #1e1e2e;
	--text-link: #78c2ad;
	--underline: #375a7f;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-pally;
	}

	p {
		font-size: 1.1rem;
		hyphens: auto;
		line-height: 1.5;
		text-indent: 1rem;
	}
}

/* Gifs */
.gif {
	margin: 20px 0 0 0;
	text-align: center;
}

.badge__list {
	text-indent: 1rem;
	list-style: none;
	padding: 0;
}

.badge__list > li {
	margin-top: 10px;
}

.badge--item {
	border-radius: 4px;
	font-size: 0.7rem;
	margin-right: 5px;
	padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
	color: var(--text-link);
	text-decoration: none;
}

.badge__link:hover {
	text-decoration: underline;
}

/* Cards */
.card {
	list-style: none;
	display: flex;
	background-size: 400%;
	padding: 20px;
}

.card__link {
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	border-radius: 8px;
	color: var(--text);
}

.card__img {
	border-radius: 16px;
}

.card__title {
	margin: 0;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
}

.card__txt {
	font-size: 1rem;
	line-height: 1.5;
	text-indent: 0;
	text-align: center;
	margin: 0.5rem 0 0;
}

.card__link:hover {
	transform: scale(1.05);
}

.link-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	gap: 1rem;
	padding: 0;
}

/* Skills */
.skills {
	margin-top: 8px;
}

.skills__img {
	margin: 8px 4px;
}

/* Items */
.center {
	text-align: center;
}

.pro-img {
	border-radius: 16px;
	margin-top: 10px;
}

/* Footer */
footer {
	margin: 4rem 0;
}

.footer__link {
	color: var(--text-link);
	text-decoration: none;
}

.footer {
	cursor: default;
	list-style: none;
	padding: 0;
}

.icon__btn {
	display: inline-block;
	padding: 0 0.5rem;
}

.icon__link {
	display: flex;
	padding: 10px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 2px solid #fdebf3;
}

.icon__link:hover {
	border-color: var(--text-link);
}

/* 404 */
.lost {
	margin-top: 30%;
	text-align: center;
}

.lost__header {
	margin: 0 auto;
	text-align: center;
	border: 0;
	font-size: 7.5rem;
	letter-spacing: 10px;
}

.lost__body {
	color: #5c5b77;
}

.lost__link {
	color: var(--text-link);
	text-decoration: none;
}
