@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1e1e2e;
	--background-light: #fdebf3;
	--button: #78c2ad;
	--text: #fdebf3;
	--text-light: #1e1e2e;
	--text-link: #78c2ad;
	--underline: #375a7f;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-pally;
	}

	p {
		font-size: 1.1rem;
		hyphens: auto;
		line-height: 1.5;
		text-indent: 1rem;
	}
}
