---
import Layout from '../layouts/Layout.astro';
import ProfilePicture from '../components/ProfilePicture.astro';
import Link from '../components/Link.astro';
import PageSection from '../components/PageSection.astro';
import PageSectionTitle from '../components/PageSectionTitle.astro';
import Newsletter from '../components/Newsletter.astro';
import wojtekPronunciation from '../media/pl_wojtek.mp3';
import wojciechPronunciation from '../media/pl_wojciech.mp3';
import AudioButton from '../components/AudioButton.astro';
---

<Layout title="home" description="wadamek.me homepage with contact information.">
	<PageSection>
		<div class="mb-8 flex justify-center">
			<ProfilePicture />
		</div>
		<p>
			Hi, I'm Wojciech <i>(Voy-chekh)</i><AudioButton
				audioSrc={wojciechPronunciation}
				altText="Play Wojciech Pronunciation"
			/>, but you can also call me Wojtek<AudioButton
				audioSrc={wojtekPronunciation}
				altText="Play Wojciech Pronunciation"
			/>. I'm a full stack web developer/software architect/tech lead. You can discover and follow
			all my work from here.
		</p>
	</PageSection>
	<PageSection>
		<PageSectionTitle>socials</PageSectionTitle>
		<div class="mb-4 flex flex-wrap justify-center gap-x-6 gap-y-4 sm:justify-start sm:gap-x-3">
			<Link target="_blank" href="https://github.com/wadamek65">github</Link>|
			<Link target="_blank" href="https://bsky.app/profile/wadamek.bsky.social">bluesky</Link>|
			<Link target="_blank" href="https://reddit.com/u/wadamek65">reddit</Link>|
			<Link target="_blank" href="https://www.linkedin.com/in/wadamek65/">linkedin</Link>|
			<Link target="_blank" href="https://soundcloud.com/voy-347736249">soundcloud</Link>|
			<span>wadamek@wadamek.me</span>
		</div>
		<div class="text-xs">
			If someone knows how to get the AI to get the colors of my parrot right please let me know!
		</div>
	</PageSection>
	<PageSection>
		<PageSectionTitle>newsletter</PageSectionTitle>
		<Newsletter>
			<div class="mb-16">
				<p>
					If you'd like to receive updates about the things I work on and news from the web dev
					world, subscribe below.
				</p>
			</div>
		</Newsletter>
	</PageSection>
</Layout>
