---
const props = Astro.props;
---

<h3 {...props} class="relative">
	<a
		class="absolute -left-8 !text-puerto-rico-300 no-underline underline-offset-4 hover:!text-puerto-rico-200 hover:underline"
		href={`#${props.id}`}>#</a
	>
	<slot />
</h3>
