---
import SpeedInsights from '@vercel/speed-insights/astro';
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import { SEO } from 'astro-seo';

import Header from '../components/Header.astro';
import '../styles/global.css';
import PostHog from '../components/PostHog.astro';

const { title, description, openGraph, twitterImageAlt } = Astro.props;
import profilePicture from '../media/profile_picture.png';
import MailerLite from '../components/MailerLite.astro';

const defaultImage = profilePicture.src;
const defaultAlt = 'Drawn portrait of a man with a parrot sitting on the shoulder.';
---

<!doctype html>
<html transition:animate="none" lang="en" class="bg-remy-100 text-mirage-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/parrot_favicon_cropped.svg" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="wadamek65 blog"
			href={`${Astro.site}rss.xml`}
		/>

		<SEO
			title={title}
			titleTemplate="wadamek.me | %s"
			titleDefault="wadamek.me website"
			description={description}
			openGraph={{
				image: {
					alt: defaultAlt,
				},
				basic: {
					title: title,
					type: 'website',
					image: defaultImage,
				},
				...(openGraph ?? {}),
			}}
			twitter={{
				creator: '@wadamek.me',
				site: '@wadamek.me',
				title: openGraph?.basic?.title ?? title,
				image: openGraph?.basic?.image ?? defaultImage,
				description: openGraph?.basic?.description ?? description,
				imageAlt: twitterImageAlt ?? defaultAlt,
			}}
		/>

		<ViewTransitions />
		<PostHog />
		<SpeedInsights />
	</head>
	<body class="mx-auto mb-16 max-w-screen-sm text-justify">
		<Header />
		<main class="px-8 sm:px-0" transition:animate={fade({ duration: '0.2s' })}>
			<slot />
		</main>
		<script>
			function colorMode() {
				if (
					localStorage.theme === 'light' ||
					(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: light)').matches)
				) {
					document.documentElement.classList.add('light');
				} else {
					document.documentElement.classList.remove('light');
				}
			}

			colorMode();
			document.addEventListener('astro:after-swap', colorMode);
		</script>
	</body>
</html>
